* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f5f8fc;
}

html , body {
  min-height: 100%;
  background-color: #0D0D0D;
}

#CentralContentsAligner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4%;
  margin-top: 8%;
  width: 100%;
}

#CentralContents { 
  background-color: #121212;
  padding: 4%;
}

#CentralContents p {
  font-family: Quicksand;
}

#NavBar {
  top: 0;
  width: 100%;
}

#NavBarUl {   
  display: flex;
  justify-content: space-between;
  padding: 1%;
  background-color: #060606;
}

.NavBarLi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavBarUls {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.NavBarUls li {
  font-size: 1.5vw;
  font-family: Lato;
}

#SaturnLogo {
  width: 5.3vw;
}

#Title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#NavBarOptions {
  gap: 2vw;
}

/* xs */
@media (min-width: 475px) { 
  #CentralContents p {
    font-size: 0.8rem;
  }
}

/* sm */
@media (min-width: 640px) {
  #CentralContents p {
    font-size: 1.2rem;
  }
}

/* md */
@media (min-width: 768px) {
  #CentralContents p {
    font-size: 1.4rem;
  }
}

/* lg */
@media (min-width: 1024px) { 
  #CentralContents p {
    font-size: 1.6rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  #CentralContents p {
    font-size: 2rem;
  }
}

/* 2xl
@media (min-width: 1536px) {  
  #CentralContents p { 
    font-size: 2.5rem;
  }
}*/
