* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html , body {
  min-height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8%;
}

#CentralContents { 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1) , -2px -2px 5px rgba(0, 0, 0, 0.1) , 2px -2px 5px rgba(0, 0, 0, 0.1) , -2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f5f8fc;
  color: #333840;
  padding: 20px;
}

#NavBar {
  top: 0;
  width: 100%;
  background-color: ##f5f8fc;
}

#NavBarOptions {
}

/* xs */
@media (min-width: 475px) { 
  #CentralContents p {
    font-size: 0.8rem;
  }
}

/* sm */
@media (min-width: 640px) {
  #CentralContents p {
    font-size: 1.2rem;
  }
}

/* md */
@media (min-width: 768px) {
  #CentralContents p {
    font-size: 1.4rem;
  }
}

/* lg */
@media (min-width: 1024px) { 
  #CentralContents p {
    font-size: 1.6rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  #CentralContents p {
    font-size: 2rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {  
  #CentralContents p { 
    font-size: 2.5rem;
  }
}
