* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html , body {
  min-height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8%;
}

#CentralContents { 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) , -2px -2px 5px rgba(0, 0, 0, 0.3) , 2px -2px 5px rgba(0, 0, 0, 0.3) , -2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #f5f8fc;
  color: #333840;
  padding: 20px;
}

#CentralContents p {   
  font-size: 2rem;
}
